
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.main-container .goToPrint{
    width:75%;
    
}

.main-container .contentANDbutton {
    padding: 2rem;
    box-shadow:none;
    width: 100%;
}

/*.main-container .contentANDbutton .goToPrint {*/
/*    margin-bottom:2rem;*/
/*}*/

/*.main-container .contentANDbutton .goToPrint a {*/
/*    padding: 2rem 1rem;*/
/*   margin-right: 100px;*/
/*   margin-bottom:1rem;*/
/*}*/

.main-container .contentANDbutton h3 {
    text-align:center;
    letter-spacing: .2rem;
    color: #34495e;
}

.main-container .contentANDbutton .button_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

.main-container .contentANDbutton .button_div .smile_div .smile_btn,
.main-container .contentANDbutton .button_div .normal_div .normal_btn,
.main-container .contentANDbutton .button_div .bad_div .bad_btn {
    border: none;
    background-color: transparent;
}

.main-container .contentANDbutton .button_div .smile_div .smile_btn i {
    /* border: 1px solid red; */
    font-size: 5rem;
    color: #2ecc71;
    border-radius: 50%;
    border: none;
}

.main-container .contentANDbutton .button_div .smile_div h4 {
    color: #2ecc71;
    margin-top: 1rem;
}

.main-container .contentANDbutton .button_div .normal_div .normal_btn i {
    /* border: 1px solid red; */
    font-size: 5rem;
    color: #bdc3c7;
    border-radius: 50%;
    border: none;
}

.main-container .contentANDbutton .button_div .normal_div h4 {
    color: #bdc3c7;
    margin-top: 1rem;
}

.main-container .contentANDbutton .button_div .bad_div .bad_btn i {
    font-size: 5rem;
    color: #e74c3c;
    border-radius: 50%;
    border: none;
}

.main-container .contentANDbutton .button_div .bad_div h4 {
    color: #e74c3c;
    margin-top: 1rem;
}

#yearlyExcel {
    position: absolute;
}

#Yearly_table_length {
    display: none;
}

#Yearly_table_paginate {
    margin-top: 1rem;
}

#Yearly_table_filter {
    margin-bottom: 1rem;
}

#Yearly_table_filter input {
    padding: 0.5rem 0;
}

#Daily_table_length {
    display: none;
}

#Yearly_table_info {
    display: none;
}

#feedback-data{
    width:590px;
    height:400px;
}

.chartMenu {
    /* width: 100vw; */
    height: 40px;
    background: #1A1A1A;
    /* color: rgba(255, 26, 104, 1); */
}

.chartMenu p {
    padding: 10px;
    font-size: 20px;
}

.chartCard {
    /* width: 100vw; */
    /* height: calc(100vh - 40px); */
    /* background: rgba(255, 26, 104, 0.2); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    border-radius: 20px;
    /* border: solid 3px #bdc3c7; */
    background: white;
    
}
@media only screen and (max-width: 1096px){
    
    .main-container .contentANDbutton h3 {
        letter-spacing: .1rem;
        color: #34495e;
    }

}

@media only screen and (max-width: 962px) {
    .main-container .contentANDbutton h3 {
        letter-spacing: .05rem;
        color: #34495e;
        font-size:1rem;
    }
}

@media only screen and (max-width: 450px){
        .main-container .contentANDbutton .button_div .smile_div .smile_btn i {
        /* border: 1px solid red; */
        font-size: 5rem;
        color: #2ecc71;
        border-radius: 50%;
        border: none;
        font-size:4rem;
    }
        #yearSearchDiv{
            display:flex;
            justify-content: end;
            margin:0.5rem auto;
        }
        #feedback-data{
            width:330px;
            height:400px;
        }
        .main-container .contentANDbutton .button_div .normal_div .normal_btn i {
        /* border: 1px solid red; */
        font-size: 5rem;
        color: #bdc3c7;
        border-radius: 50%;
        border: none;
        font-size:4rem;
    }
        .main-container .contentANDbutton .button_div .bad_div .bad_btn i {
        font-size: 5rem;
        color: #e74c3c;
        border-radius: 50%;
        border: none;
        font-size:4rem;
    }
        .main-container .contentANDbutton .button_div .smile_div h4 {
        color: #2ecc71;
        margin-top: 1rem;
        font-size:1rem;
    }
    .main-container .contentANDbutton .button_div .normal_div h4 {
        color: #bdc3c7;
        margin-top: 1rem;
        font-size:1rem;
    }
        .main-container .contentANDbutton .button_div .bad_div h4 {
        color: #e74c3c;
        margin-top: 1rem;
        font-size:1rem;
    }
}
@media only screen and (max-width: 999px) {
    

    #chartCard{
        margin-top: 0 auto;
        
    }
}

@media only screen and (max-width: 767px) {
    .notiData_show {
        flex-wrap: wrap;
    }

    .teb-table {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        flex: 100%;
    }
    #dailySearchForm .form-group .dailyExDiv a {
        margin-bottom: 1rem;
    }

    #dailySearchForm .form-group .dailySearchDiv {
        margin-top: 0.3rem;
        display: flex;
        justify-content: end;

    }

    #Montserchform .form-group .monthExDIv a {
        margin-bottom: 1rem;
    }

    #Montserchform .form-group .monthSearchDiv {
        margin-top: 0.3rem;
        display: flex;
        justify-content: end;

    }

    #Nodata {
        text-align: center;
    }
}