*, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-container .contentANDbutton {
    /*background-color: #ecf0f1;*/
    padding: 2rem;
    box-shadow: none;
    width: 100%;
}

.main-container .contentANDbutton .goToPrint {
    margin-top: 2.5rem;
}

.main-container .contentANDbutton .goToPrint a {
    padding: 2rem 1rem;
}

.main-container .contentANDbutton h3 {
    text-align:center;
    letter-spacing: .2rem;
    color: #34495e;
}

.main-container .contentANDbutton .button_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.main-container .contentANDbutton .button_div .smile_div .smile_btn,
.main-container .contentANDbutton .button_div .normal_div .normal_btn,
.main-container .contentANDbutton .button_div .bad_div .bad_btn {
    border: none;
    background-color: transparent;
}

.main-container .contentANDbutton .button_div .smile_div .smile_btn i {
    /* border: 1px solid red; */
    font-size: 5rem;
    color: #2ecc71;
    border-radius: 50%;
    border: none;
}

.main-container .contentANDbutton .button_div .smile_div h4 {
    color: #2ecc71;
    margin-top: 1rem;
}

.main-container .contentANDbutton .button_div .normal_div .normal_btn i {
    /* border: 1px solid red; */
    font-size: 5rem;
    color: #bdc3c7;
    border-radius: 50%;
    border: none;
}

.main-container .contentANDbutton .button_div .normal_div h4 {
    color: #bdc3c7;
    margin-top: 1rem;
}

.main-container .contentANDbutton .button_div .bad_div .bad_btn i {
    font-size: 5rem;
    color: #e74c3c;
    border-radius: 50%;
    border: none;
}
/*.swal-wide{*/
/*    width:700px;*/
/*    height:500px;*/
/*}*/

.main-container .contentANDbutton .button_div .bad_div h4 {
    color: #e74c3c;
    margin-top: 1rem;
}

.cuss{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@media only screen and (max-width: 1096px){
    
    .main-container .contentANDbutton h3 {
        letter-spacing: .1rem;
        color: #34495e;
    }

}

@media only screen and (max-width: 962px) {
    .main-container .contentANDbutton h3 {
        letter-spacing: .05rem;
        color: #34495e;
        font-size:1.1rem;
        font-weight:bold;
    }
}

@media only screen and (max-width: 450px){
        .main-container .contentANDbutton .button_div .smile_div .smile_btn i {
        /* border: 1px solid red; */
        font-size: 5rem;
        color: #2ecc71;
        border-radius: 50%;
        border: none;
        font-size:4rem;
    }
        .main-container .contentANDbutton .button_div .normal_div .normal_btn i {
        /* border: 1px solid red; */
        font-size: 5rem;
        color: #bdc3c7;
        border-radius: 50%;
        border: none;
        font-size:4rem;
    }
        .main-container .contentANDbutton .button_div .bad_div .bad_btn i {
        font-size: 5rem;
        color: #e74c3c;
        border-radius: 50%;
        border: none;
        font-size:4rem;
    }
        .main-container .contentANDbutton .button_div .smile_div h4 {
        color: #2ecc71;
        margin-top: 1rem;
        font-size:1rem;
    }
    .main-container .contentANDbutton .button_div .normal_div h4 {
        color: #bdc3c7;
        margin-top: 1rem;
        font-size:1rem;
    }
        .main-container .contentANDbutton .button_div .bad_div h4 {
        color: #e74c3c;
        margin-top: 1rem;
        font-size:1rem;
    }
}